<div class="row-fluid">
  <div class="span3">
    <img src="http://www.copterplane.net/wp-content/uploads/2012/03/Cessna-172.jpg" class="img-rounded">
    <!-- <img src="http://static.rcgroups.com/forums/attachments/5/5/6/1/6/a3461279-204-2000_pic.jpg">     -->
  </div>
  <div class="span6">
    Just some description text
  </div>
  <div class="span3">
    <img src="http://www.allianceflightschools.com/picts/logo2.png">
  </div>
</div>

<!-- <li>
<%= link_to plane.tail_number, plane %>
</li> -->