<% provide(:title, 'Search') %>
<h1>Search results</h1>

<ul class="planes">

  <% if @planes.count < 1 %>
    Search for "<%= params[:search] %>" found no results
  <% else %>
    Search for "<%= params[:search] %>" found:
    <% @planes.each do |plane| %>
      <li>
        <%= link_to plane.tail_number, plane %>
      </li>
    <% end %>
  <% end %>
</ul>
