<% provide(:title, 'Search Results') %>


<div class="container-fluid">
  <!-- <div class="row-fluid inline-results">
Results for blah blah
  </div> -->

    <div class="row-fluid">
      <p class="panel">Results for blah blah</p>
    </div>

  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <form>
        
        <div class="panel">
          <fieldset>
            <legend>Airports</legend>
            <% @airports.each do |airport| %>
              <label class="checkbox">
                <input type="checkbox"><%= airport %>
              </label>
            <% end %>
          </fieldset>
        </div>

        <div class="panel">
          <fieldset>
            <legend>Models</legend>
            <% @models.each do |model| %>
              <label class="checkbox">
                <input type="checkbox"><%= model %>
              </label>
            <% end %>
          </fieldset>
        </div>
        
      </form>
    </div>
    <div class="span10">
      <div class="panel">
        <!--Body content-->
        <% if params[:search].blank? %>
          <h2>Enter an address, airport, or tail number to search</h2>
        <% else %>
          <ul class="planes">
            <%= render(@planes) || "Sorry, no planes found" %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

</div>
