<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  This site aims to connect pilots with planes.  Whether you're a renter, flight school, buyer, or seller, visit frequently to connect with the aviation services you need.
</p>