<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <a href="mailto:mikerrobinson@hotmail.com">Contact us</a> to talk flying, renting, owning, instructing, washing, or just watching airplanes.  We love this stuff and want to hear your story.
</p>