<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Plane Renter site</h1>

  <h2>
    This is the home page for finding or listing a plane for rent
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>