<% provide(:title, 'Home') %>
<div class="center">
  <h1><%= t(:site_name) %></h1>

  <h2>
    The best way to find or list planes for rent.
  </h2>

  <div >
    <%= form_tag search_planes_path, :method => 'get' do  %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter an address, airport, flight school, or tail number to search" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

</div>
