@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */


/* header */


/* footer */


/* miscellaneous */


/* sidebar */


/* forms */

