.advertisement {
  background: rgba(255,255,255,0.6);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
  padding: 10px;
	height: 100%;
	
	form { margin-top: 10px; }
}

.search-form {
	margin-bottom: 60px;
	
	form { text-align: center; }
}