
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Legal",   legal_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <p>
    <small>© Samir and Mike 2012</small>
  </p>
</footer>
