
<footer class="footer navbar-fixed-bottom">
  <small>
    <p>© Samir and Mike 2012</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
